.form label{
color: #0d0707;
font-weight: 800;
margin-left: 5px;
font-size: 18px;
}
.form input{
    margin-top: 7px;
}
.form select{
    margin-top: 7px;
}
.button:hover{
    color: #0d0707;
    transition: all 0.2s ease;
}
