#root {
  max-width: 1280px;
  margin: 0 0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}
.body{
  width: 100vw;
  overflow-x: hidden;
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear; 
  }
}
